.card{
background: linear-gradient(71deg, #080509, #1a171c, #080509);
position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171ce6, #080509);
  background-clip: padding-box;
  border-radius: 45px;
 
}


.card1{
background: linear-gradient(71deg, #080509, #1a171c, #080509);
position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509e5, #1a171caa, #080509ed);
  background-clip: padding-box;
  border-radius: 45px;
 
}
.card2{
background: linear-gradient(71deg, #080509, #1a171c, #080509);
position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509e5, #1a171caa, #080509ed);
  background-clip: padding-box;
  /* border-radius: 45px; */
 
}


.about-heading{
  color: rgb(127, 234, 255);
  letter-spacing: 0.4px;
  text-shadow: 0 0 1px #7B68EE;
  /* color: #ff00cc; */
  text-shadow: 0 0 4px #7B68EE;
  font-style: italic;
  /* font-style: oblique; */
  /* color: red; */
}

