.btn {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  
  background-image: linear-gradient(144deg,#994ad2ce, #6352d0 50%,#24aab4d8);

  border: 0;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  cursor: pointer;
/* box-shadow: rgba(210, 15, 34, 0.925) 0px 8px 24px, rgba(56, 56, 65, 0.722) 0px 16px 56px, rgba(17, 17, 26, 0.673) 0px 24px 80px; */
box-shadow: rgba(124, 163, 33, 0.901) 0px 1px 0px, rgba(19, 19, 175, 0.764) 0px 8px 24px, rgba(16, 16, 21, 0.1) 0px 16px 48px;

}
.btn-text{
    color: #FFFFFF;
}

.btn:hover {
  box-shadow: 0px 0px 14px -7px #ce8e34e3;
  background-image: linear-gradient(45deg, #FF512F 0%, #ce974ad2  51%, #d4715d  100%);
box-shadow: rgba(185, 24, 40, 0.925) 0px 8px 24px, rgba(56, 56, 65, 0.722) 0px 16px 56px, rgba(17, 17, 26, 0.673) 0px 24px 80px;

}

