.logo{
background: #3F5EFB;
background:  -webkit-linear-gradient(nulldeg, rgba(63, 94, 251, 1) 0%, rgba(76, 65, 236, 1) 7%, rgba(80, 171, 125, 1) 57%, rgba(252, 70, 107, 1) 100%);
 -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

   text-transform: capitalize;
   background: -webkit-linear-gradient(90deg, #0077ff, #ff00cc);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.log:hover{
    background: aqua;
}
.menu{
    display: none;
}

@media screen and (max-width:998px) {
    .menu{
        display: inline-block;
        text-align: end;
    }
    .web-menu{
        display: none;
    }
    .mobile-menu{
        position: absolute;
        top:75px;
        left: 0;
        right: 50px;
        width: 100%;
        background-color: rgb(34, 47, 47);
        background-color: #0d1212;
        box-shadow: rgba(255,252,252,0.25) 0px 14px 28px;
        z-index: 2;

    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        order: 4;
        align-items: center;
        
    }
    .mobile-menu ul li:last-child{
        margin-bottom: 15px;
    }
}

.nav::after{
   position: absolute;
   width: 0%;
   content: "";
   height: 2px;
   left: 0;
   bottom: -2px;
   background: rgb(10, 216, 248);
   /* background: linear-gradient(90deg, #0077ff, #ff00cc); */
   transition: all 0.5s ease-in-out;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
}
.nav:hover::after{
    width: 100%;
}